.Rhistory
.RData
.Rproj.user/
*.html
*.nb.html
*.knit.md
*_files/
*.pdf
*.docx
*.zip
rsconnect/
renv/library/
renv/staging/
build/
docs/apps/
.DS_Store
Thumbs.db

docs/
module/index.Rmd

_site/
module/libs/
module/*.tex
module/*.log
module/*.aux
module/*.out
module/*.toc
module/*.xdv

!module/toolbar-help.html
!module/question-map-script.html
!module/pdf-header.tex
!site/study/index.html
!site/assumptions_report/index.html
