.Rhistory
.RData
.Rproj.user/
*.html
*.nb.html
*.knit.md
*_files/
*.pdf
*.docx
*.zip
rsconnect/
renv/library/
renv/staging/
build/
docs/apps/
.DS_Store
Thumbs.db

docs/
module/index.Rmd

_site/
module/libs/

!module/toolbar-help.html
